
<div class="col-md-6 col-lg-4 content-tile text-center"
data-movie-story="Journay of a very brave girl" data-movie-ratings="Ratings - 4.5/5"
data-trailer-youtube-id="TEHWDA_6e3M" data-toggle="modal"
data-target="#trailer">
    <img src="http://t0.gstatic.com/images?q=tbn:ANd9GcSuKUcpKMfuY1En5kWsJB2Xe-dqu-yYrQM6KTps3-Mti04lgmSY" width="220" height="342"></img>
    <h2>Brave</h2>
</div>

<div class="col-md-6 col-lg-4 content-tile text-center"
data-movie-story="Journey to bring back summer from a long winter period" data-movie-ratings="Ratings - 5/5"
data-trailer-youtube-id="FLzfXQSPBOg" data-toggle="modal"
data-target="#trailer">
    <img src="https://upload.wikimedia.org/wikipedia/en/0/05/Frozen_%282013_film%29_poster.jpg" width="220" height="342"></img>
    <h2>Frozen</h2>
</div>

<div class="col-md-6 col-lg-4 content-tile text-center"
data-movie-story="Dory finds her parents" data-movie-ratings="Ratings - 5/5"
data-trailer-youtube-id="AMjMFbhyhwY" data-toggle="modal"
data-target="#trailer">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3e/Finding_Dory.jpg/220px-Finding_Dory.jpg" width="220" height="342"></img>
    <h2>Finding Dory</h2>
</div>
